body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    
}

.page {
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.form button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}